@mixin padding-x {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 768px) {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.Crops {
    @include padding-x;

    padding-top: 20px;
    padding-bottom: 20px;

    &__List {
        
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;

        &__Item {
            min-width: 30%;
            max-width: 31%;
            margin: 15px 0;

            @media (max-width: 600px) {
                min-width: 75%;
                max-width: 80%;
                margin: 10px auto;
            }
        }
    }
}